header {
    #notify {
        background-color: $border-color;
        height: 20px;
        color: $primary-color;

        .container {
            text-align: end;

            span {
                padding: 5px 10px;
                font-size: 10px;
            }
        }
    }

    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: 100%;
    }

    img {
        height: 80px;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    ul li {
        padding: 0 15px;
    }

    ul li a {
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: $primary-bgc;
        padding-bottom: 38px;

        &:hover,
        &.active {
            color: $border-color;
            border-bottom: 4px solid $border-color;
        }
    }
}

.main-content {
    background-color: $primary-bgc;
}

.comics-card {
    width: calc((100% / 6) - 20px);
    margin: 50px 10px;
    background-color: #fff;
    text-align: center;

    .comics {
        display: block;
        height: 200px;
        width: 100%;
    }

    .comics-text {
        color: #000;
        font-size: 15px;
        padding-top: 10px;
        text-transform: uppercase;
        padding: 5px;
        font-size: 10px;
    }

    .comics-title {
        font-weight: bolder;
        font-size: 15px;
    }

    .price {
        color: #f00;
        font-size: 25px;
        font-weight: bold;
    }

    .comics-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

.comic-card {
    padding-top: 50px;

    .comic-text {
        color: #fff;
    }

    .price {
        font-size: 25px;
        color: #f00;
        font-weight: bold;
    }
}

.btn-primary {
    background-color: $border-color;
    border: $border-color;
    font-weight: bold;
    text-transform: uppercase;
}