header #notify {
  background-color: #0282f9;
  height: 20px;
  color: #fff;
}
header #notify .container {
  text-align: end;
}
header #notify .container span {
  padding: 5px 10px;
  font-size: 10px;
}
header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}
header img {
  height: 80px;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  padding: 0 15px;
}
header ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
  padding-bottom: 38px;
}
header ul li a:hover, header ul li a.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

.main-content {
  background-color: #303030;
}

.comics-card {
  width: calc(16.6666666667% - 20px);
  margin: 50px 10px;
  background-color: #fff;
  text-align: center;
}
.comics-card .comics {
  display: block;
  height: 200px;
  width: 100%;
}
.comics-card .comics-text {
  color: #000;
  font-size: 15px;
  padding-top: 10px;
  text-transform: uppercase;
  padding: 5px;
  font-size: 10px;
}
.comics-card .comics-title {
  font-weight: bolder;
  font-size: 15px;
}
.comics-card .price {
  color: #f00;
  font-size: 25px;
  font-weight: bold;
}
.comics-card .comics-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.comic-card {
  padding-top: 50px;
}
.comic-card .comic-text {
  color: #fff;
}
.comic-card .comic-title {
  font-weight: bold;
}
.comic-card .price {
  font-size: 25px;
  color: #f00;
  font-weight: bold;
}

.btn-primary {
  background-color: #0282f9;
  border: #0282f9;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #fff;
}

.text-center {
  text-align: center;
}